<Div Position="Blazorise.Position.Relative">
    @if ( ShowDayHeader )
    {
        <Div Class="b-scheduler-row" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( 60 )" Border="Border.Is1.OnBottom">
            <Div Class="b-scheduler-row-header" TextWeight="Blazorise.TextWeight.Bold" Padding="Blazorise.Padding.Is3">
                &nbsp;
            </Div>
        </Div>
    }

    @for ( int hour = ( StartTime?.Hour ?? 0 ); hour <= ( EndTime?.Hour ?? 24 ); ++hour )
    {
        int tempHour = hour;

        <Div Class="b-scheduler-row" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( 60 )" Border="Border.Is1.OnBottom">
            <_SchedulerHour Hour="@tempHour" />
        </Div>
    }
</Div>
@code {
    [Parameter] public TimeOnly? StartTime { get; set; }

    [Parameter] public TimeOnly? EndTime { get; set; }

    [Parameter] public bool ShowDayHeader { get; set; }
}