<Div Flex="Blazorise.Flex.Default.Wrap">
    @for ( int hour = ( StartTime?.Hour ?? 0 ); hour <= ( EndTime?.Hour ?? 24 ); ++hour )
    {
        <_SchedulerRow @key="@hour" SelectedDate="@SelectedDate" Hour="@hour" />
    }
</Div>