<Div Position="Blazorise.Position.Relative" Flex="Blazorise.Flex.Grow.Is1">
    @for ( int hour = ( StartTime?.Hour ?? 0 ); hour <= ( EndTime?.Hour ?? 24 ); ++hour )
    {
        <_SchedulerDay @key="@hour" Date="@Date" Hour="@hour" />
    }
</Div>
@code {
    [Parameter] public DateTime? Date { get; set; }

    [Parameter] public TimeOnly? StartTime { get; set; }

    [Parameter] public TimeOnly? EndTime { get; set; }
}