<Div Flex="Blazorise.Flex.Default.Wrap">
    @for (int i = 0; i < 24; ++i)
    {
        string time = i.ToString("00") + ":00";

        <Div Class="b-scheduler-row" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Border="Border.Is1.OnBottom">
            <Div Class="b-scheduler-row-header" TextWeight="Blazorise.TextWeight.Bold" Padding="Blazorise.Padding.Is3">
                @time
            </Div>
            <Div Class="b-scheduler-row-cell" Padding="Blazorise.Padding.Is3" Width="Blazorise.Width.Is100" @onclick="@(()=>Console.WriteLine("item click"))">

            </Div>
        </Div>
    }
</Div>